@page "{searchString?}"
@model MyScriptureJournal.Pages.Scriptures.IndexModel

@{
    ViewData["Title"] = "Index";
}
  
        <p id="newEntry">
            <a asp-page="Create">Add Entry</a>
        </p>
  
        
<div id="orderlinks">
    <p id="orderLabel">Order By: </p>
    <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort"><p>Book</p></a>
    <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort"><p>Date</p></a>
</div>

<table id="table">
    <thead>
        <tr>
            <th>
                    @Html.DisplayNameFor(model => model.Scripture[0].Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scripture[0].Chapter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scripture[0].Verse)
            </th>
            <!--<th>
    @*  @Html.DisplayNameFor(model => model.Scripture[0].Notes)*@
</th>-->
            <th>
                    @Html.DisplayNameFor(model => model.Scripture[0].Date)
            </th>
            <th> Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Scripture)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Book)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chapter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Verse)
            </td>
            <!-- <td>
       @* @Html.DisplayFor(modelItem => item.Notes)*@
    </td>-->
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td id="CRUD">
                <a asp-page="./Details" asp-route-id="@item.ID">Notes</a> 
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> 
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<form class="form-inline">
    <div class="form-group">
        <p>
            Book: <input type="text" asp-for="SearchString" />
            <input type="submit" value="Filter" />
        </p>
    </div>
    <div class="form-group">
        <p>
            Note Keyword: <input type="text" asp-for="SearchNote" />
            <input type="submit" value="Filter" />
        </p>
    </div>
</form>